header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
nav a {
  padding: 10px 10px;
}